<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/Almablu-Wellness-Spa_oapmrf.jpg);">
  <div class="container-search margin-left" style="text-align: center">
    <h1 >Thank you for your purchase!</h1>
    <p>Please check your email</strong> for further instructions on how to complete your amazing wellness experience</p>
    <p>
    Having trouble? <a href="" class="card-category-link">Contact us</a>
  </p>
    <%= link_to "Go back to the homepage", root_path, class:"btn btn-flat"%>
  </div>
</div>
