<div class="container-no-result" style="height: 70vh; text-align: center; display: flex;">
  <div style="margin:auto; align-items: center;">
  <h1 style="margin-bottom: 20px;">Sorry, we could not find any results</h1>
  <%= link_to 'Back to home page', root_path, class: "btn-flat" %>
  </div>
</div>

