<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/Almablu-Wellness-Spa_oapmrf.jpg);">
  <div class="container-search margin-left">
    <h1>Search<strong> your</strong> amazing <strong>wellness experience</strong>!</h1>
    <p>Search, book, and live a unique experience..</p>
    <%= render 'shared/search-form' %>
    <%#= link_to "Search Now", treatments_path, class:"btn btn-flat"%>
  </div>
</div>
<h2 class="card-title margin-left">Explore Treatments</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306822/estheclinic-slimming_kxjr66.jpg)">
    <p>Health Treatments</p>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg)">
    <p>Spa</p>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575306450/andergassen-web-1056_yiekir.jpg)">
    <p>Massages</p>
  </div>
</div>


<div class="banner-present" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/spa-wellness-green-park-madama-1_y0tpwx.jpg);">
  <div class="container.present margin-left">
    <h1>Your wellness gift </h1>
    <p>Give a special experience to your special person.</p>
    <a class="btn btn-flat" href="#">Make a gift</a>
  </div>
</div>





<h2 class="card-title margin-left">Choose your wellness experience.</h3>
<p class="card-subtitle margin-left">Are you looking for a location or treatment to regenerate and escape from everyday stress?</p>
<div class="treatments-card-container">
  <div class="card shadow-border" style="width: 18rem;">
    <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575387888/s_redspu.jpg);">
    <div class="card-body">
      <h3 class="center-card-title"> Reflow Center</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
  <div class="card shadow-border" style="width: 18rem;">
    <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575387887/spa-box-duomo-suites_kow81e.jpg);">
    <div class="card-body">
      <h3 class="center-card-title">Nettuno SPA</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
  <div class="card shadow-border" style="width: 18rem;">
    <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575387885/Fairmont-Scottsdale-Princess_kejz8y.jpg);">
    <div class="card-body">
      <h3 class="center-card-title">Beauty Queen</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
  <div class="card shadow-border" style="width: 18rem;">
    <img class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(42,57,77,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575387884/PISCINA-BLU-1_ruroht.jpg">
    <div class="card-body">
      <h3 class="center-card-title">Luisa Beauty Farm</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
      <a class="btn btn-ghost btn-position" href="#">Show center</a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark footer-container">

  <div>
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center footer-bar">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 footer-title">Get connected with us on social networks!</h6>
        </div>

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic footer-title">
            <i class="fab fa-facebook-f white-text mr-4 footer-title"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4 footer-title"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4 footer-title"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4 footer-title"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text footer-title"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5 ">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold footer-title">About Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto footer-title" style="width: 60px;">
        <p class="footer-title">Are you looking for a location or treatment to regenerate and escape from everyday stress?<br>
Aspa is the 1st online reservation portal for wellness.
Find a wellness center or spa in your city <br>
Choose from over 187 000 centers.<br> Read reviews from other customers.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-title">Our solution for your Center</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="footer-title" href="#!">Digital calendar to manage reservations</a>
        </p>
        <p>
          <a class="footer-title" href="#!">Economic management</a>
        </p>
        <p>
          <a class="footer-title" href="#!">Automatic promotional campaigns</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-title">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="footer-title" href="#!">Register your center</a>
        </p>
        <p>
          <a class="footer-title" href="#!">Sign up</a>
        </p>
        <p>
          <a class= "footer-title" href="#!">Login</a>
        </p>
        <p>
          <a class="footer-title" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold footer-title">Contact</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px white;">
        <p>
          <i class="fas fa-home mr-3 footer-title"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3 footer-title"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3 footer-title "></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3 footer-title "></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-title">© 2019 Copyright:
    <a class="footer-title" href="https://mdbootstrap.com/education/bootstrap/"> Aspa Group s.r.l.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


</div>
