<div class="banner-search" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dbgxzafez/image/upload/v1575303401/Almablu-Wellness-Spa_oapmrf.jpg);">
  <div class="container-search margin-left">
    <h1>Complimenti! <strong> Il</strong> tuo <strong>ordine è confermato</strong>!</h1>
    <p>Riceverai un'email di conferma nelle prossime 24 h..</p>
    <%= render 'shared/search-form' %>
    <%#= link_to "Search Now", treatments_path, class:"btn btn-flat"%>
  </div>
</div>
