<% treatments.each do |treatment| %>
  <li class="list-group-item input-search-form-result " role="option" data-autocomplete-value="<%= treatment.name %>">
    <%= treatment.name %>
  </li>
<% end %>
