.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.center-page h1{
  color: white;
  font-weight: bold;

}

.under-banner {
padding-top: 16px;
padding-bottom: 16px;
margin-bottom: 16px;

}

.under-banner-titles p {
font-weight: bold;
}

.center-body {
padding: 80px  0;
}


.center-body-text {
  border-top: 0.2px solid lightgrey;
  margin-bottom: 8px
}

.magazine-section {
  background-color: #EBF4F9;
  width:100%;
  padding: 20px;
}
