.btn-ghost {
  color: $brandcolor;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #3D8C90;
}

.search-button {
  margin-top: 5px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2a394d;
  transition: background 0.3s ease;
}
.search-button:hover{
  background: #394d5f;
  color: white;
}


.btn-flat {
  color: white;
  padding: 8px;
  border-radius: 4px;
  background: #2a394d;
  transition: background 0.3s ease;
}


.btn-flat:hover {
  background: #394d5f;
  color: white;
}

.treatment-link:hover {
  text-decoration: none;
}

.treatment-link a {
  text-decoration: none;
  color: #3D8C90;
}
