.card-index-text{
  color: black;
}

.card-index {
  height: 170px;
  margin-top: 15px;
  background-size: cover;
}
.card-info-index {
  height:15px;
  background-color: white;
  line-height: 12px;
}

.card-treatment {
  display: flex;
  background: white;
  height:200px;
  margin-bottom: 15px;
}

.card-treatment img {
  width:300px;
  background-size: cover;
}

#card-text {
  padding-left: 15px;
  padding-right: 15px;
  width:18rem;
}

#card-text a {
  text-decoration: none;
  color: black;
}

#card-text a:hover {
  color: blue;
}


.card-container {
  flex-grow: 1;
  margin-right: 8px;
}

.price {
  margin-top: 99px;
  margin-left: 300px;
}

#map {
  position: sticky;
  top: 0;
  object-fit: cover;
  width: 50vw;
  margin-right: 5px;
  height: 600px
}

.treatment-card {
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
}
.card-image {
  height: 30vh;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  line-height: 12px;
}

.card-info-text a {
  color: #245254;
}

.card-center-name{
  color: black;
}
.card-treatment-name{
  margin-left: 20px;

}

.card-treatment-name a {
  text-decoration: none;
  color: #3D8C90;

}
.card-treatment-adress{
  margin-left: 20px;
}
.card-treatment-review{
  margin-left: 20px;
}
.card-price{
  margin: 0 auto;
}

