.card-treatment {
  display: flex;
  background: white;
  height:200px;
  margin-bottom: 15px;
}

.card-treatment img {
  width:300px;
  background-size: cover;
}

#card-text {
  padding-left: 15px;
  padding-right: 15px;
  width:18rem;
}

.card-container {
  flex-grow: 1;
  margin-right: 15px;
}

#map {
  position: sticky;
  top: 0;
  object-fit: cover;
  width: 50vw;
  margin-right: 5px;
  height: 600px
}

