.treatments-card-container{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 40px;
}

.card-title {
  color: #2a394d;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 0px 10px ;
}

.card-text {
  color: #777777;
}

.card-subtitle{
  color: #2a394d;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category:hover{
}

.card-category-link {
    color: white;

}

.card-category-link:hover {
  text-decoration: none;
  color: white;
  font-size:24px;
}

 .card img {
  border-radius: 4px;
  height: 150px;
 }

.center-card-title {
  font-weight: bold;
  color: #2a394d;
}

.treatment-centre-card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 8px;
}

.treatment-centre-card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.treatment-centre-card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #2a394d
}



.treatment-centre-card-product-infos a {
text-decoration: none;
color: #2a394d;
}

.treatment-centre-card-product-infos {
  margin: 0;
}

.treatment-centre-card-product-infos-text {
margin: 8px;
}

.treatment-centre-card-product-infos-text p {
font-size: 16px;
font-weight: bolder;
margin: 0;
}

.centre-card-details1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 160px;
}

.centre-card-details {
  display: flex;
  align-items: center;
  width: 160px;
  border-left: 0.05px solid lightgrey;
  height: 100%;
  bottom: 16px;

}


.centre-card-details p {
  font-size: 16px;
  margin-left: 8px;
  font-weight: lighter;
  color: 777777;
}

.centre-card-price {
margin-left: 8px;
font-weight: lighter;
}


.fa-heart {
  color: red;
}

.selected-treatment {
  display: flex;
}


.card-gap {
  margin-bottom: 24px;
}


.card-body-cascade {
  z-index: 3;
  background-color: #FBFAF3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  bottom: 60px;
  border-radius: 12px;
  padding-top: 60px;
  padding-bottom: 60px;
}


.treatment-img {
border-radius: 8px;
max-height: 400px;
}
.fa-star {
 color: #3D8C90;
}

.fa-star-half {
 color: #3D8C90;
}

.map-card  {
  padding-left: 0;
  padding-right: 0;
}

.fc-body, .fc-head, .fc-day-header, .fc-widget-content, .fc-widget-header{
  border: 4px solid ;
  border-color: white !important;
  color: #2a394d;
  text-transform: uppercase;
}

.fc-left {
  text-transform: uppercase;
  color: #2a394d;
}

.fa-plus:hover, a {
text-decoration: none;
}

.collapsed a:hover{
  text-decoration: none;
  color: none;
}

.accordion-background {
  border: none;

}

.card-body {
  background-color: #F4F4F4;
}

.line {
  border-bottom: 0.4px solid lightgrey;

}

.map-section {
background-color: #FCF8E3;
}


.collapsed:hover, a {
text-decoration:none !important;
color: none !important;
}
