.input-search-form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 400px;
  margin-top: 5px;

}

.input-search-form-result {
  border-radius: 4px;

}

.input-search-form-result:hover{
  color: white;
  background-color: #3D8C90;

}
