.input-search-form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 40%;
  margin-top: 5px;
  position: relative;
}

.input-search-form-result {
   display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20%;
  margin-top: 5px;
  color: gray;
  position: absolute;
  z-index: 1;
}
.input-search-form-result:hover{
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20%;
  margin-top: 5px;
  color: white;
  background-color: #3D8C90;

}

// STYLE FOR FORM IN TREATMENTS INDEX

.search-form-inline {
  display:grid;
  grid-template-columns: 4fr 4fr 1fr;
  align-items: center;
}

.search-form-treatments {
  margin: 0 auto;
}


