.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 0px;
}

.map-relative {
  position: relative;
}

.map-relative-text {
  position: absolute;
  background: white;
  border-radius: 4px;
  padding: 8px;
  top: 40px;
  left: 35px;
}

.mapboxgl-ctrl-geocoder{
display: none;
}

