.navbar-lewagon {
  justify-content: space-between;
  background: white;
  text-align: center;
}

.navbar-lewagon a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;

}

.navbar-lewagon i {
  font-size: 32px;
  color: grey;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


