.navbar-lewagon {
  justify-content: space-between;
  background: white;
  text-align: center;
}

.navbar-lewagon a {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-lewagon i {
  font-size: 32px;
}

.nav-item,
.nav-link {
  color: #2a394d !important;
}

.nav-item-text {
  color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: #2a394d
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-p {
  color: #2a394d;
}


.navbar-trasparent {
  background:transparent;
}


#button-navbar
{
  background-color: transparent !important;
  border-radius: 4px;
  border-color: white;
  border-width: 2px;
  border-style: solid;

}

#button-navbar:hover
{
  background-color: white !important;
  border-radius: 4px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
   transition: 0.3s;


}

#button-navbar a {

  color: white !important;
  transition: 0.3s;
}


#button-navbar a:hover {

  color: black !important;
}
